/*

Text 

*/

.wrapper p {
	font-family: $font-fam;
	font-size: 14px;
}

.foot p {
	font-family: $font-fam;
	font-size: 12px;
	color: $white;
}

.foot p a {
	color: rgba($white, 0.4);
	padding-right: 20px;
}

.foot p a:hover {
	color: rgba($white, 0.9);
}

.header {
	font-family: $font-fam;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color: $orange;
}

#box-story p {
	padding: 0 3% 3%;

}

#box-music p {
	text-align: center;
}

#box-music ul {
	list-style: none;
	padding-right: 0;
}

#box-music ul li {
	float: left;
	width: 30%;
	padding: 0 1%;
}

#box-music ul li a {
	color: $orange; 
	font-family: $font-fam;
	font-size: 12px;
	line-height: 0.5;

}

#box-music ul li a:hover {
	color: $orange-hover;
}

